<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-content">
          <li><%= post.content %></li>
        </div>
        <% post.post_tags.each do |post_tag| %>
          <div class="post-tag">
            <% tag = Tag.find_by(id: post_tag.tag_id) %>
            <li><%= link_to("##{tag.name}", "/posts/index/#{tag.name}") %></li>
          </div>
        <% end %>
        <div class="post-time">
          <%= post.created_at.to_s(:datetime) %>
        </div>
        <div class="post-menu">
          <%= link_to("編集", "/posts/#{post.id}") %>
          <%= link_to("削除", "/posts/#{post.id}/destroy",
                      method: :post,
                      data: {confirm: '削除してよろしいですか？'}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
